@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  font-size: 62.5%;

  --ff-text: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
* {
  font-family: var(--ff-text);
}

body {
  font-size: 1.6rem;
  background-color: #000;
  height: 100%;
}

header {
  margin: 11.5rem auto 0;
  display: flex;
  width: 112rem;
  justify-content: space-around;
  align-items: center;
  gap: 29.3rem;
}

.search {
  display: flex;
  align-items: flex-start;
  gap: .8rem;

}

.search input {
  min-width: 46rem;
  padding: 1.6rem;
  color: #7C7C8A;
  background-color: #06181C;
  border: none;
  border-radius: .5rem;
}

.search button.btnAdd {
  padding: 1.6rem 3rem 1.6rem 4rem;
  color: #ffffff;
  background-color: #065E7C;
  border: none;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  font-weight: bold;
  cursor: pointer;
  gap: .8rem;
}

.search button.btnAdd:hover {
  color: #065E7C;
  background-color: #ffffff;
}


main {
  width: 112rem;
  height: 500pxs;
  display: flex;
  flex-direction: column;
  border: 1px solid #4A808C;
  margin: 7rem auto 0;
  align-items: flex-start;
  border-radius: 1.2rem;
  height: 60.0rem;
  position: relative;
  overflow: auto;
}

main::-webkit-scrollbar-thumb {
  background-color: #4A808C;
  border-radius: 10px;
}

main::-webkit-scrollbar-track {
  background-color: none;
  border-radius: 5px;
}

main::-webkit-scrollbar {
  width: 6px;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

table th {
  position: sticky;
  top: 0;
  color: #ffffff;
  font-weight: bold;
  font-size: 2rem;
  background: #092D38;
  text-align: left;
  vertical-align: middle;
  padding: 1.6rem 0 1.6rem 2rem;
}

tbody tr {
  border: 1px solid #4A808C;
}

table tr {
  text-align: left;
  background-color: #030b0d;
  vertical-align: middle;
}

table tr:nth-child(odd) {
  background: #06181c;
}

table td {
  padding: 1.6rem;
  color: #ffffff;
}

table td.user {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

table td.user a {
  text-decoration: none;
  color: #ffffff;
}

table td.user a p {
  font-weight: bold;
  margin-bottom: .8rem;
}

table td.user a span {
  font-weight: 400;
}


td.user img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  border-radius: 50%;
}

td button.btn-remove {
  border: none;
  background: none;
  color: #F75A68;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
}

td button.btn-remove:hover {
  color: #ff8c95;
}

#tableEmpty.hidden {
  display: none;
}

#tableEmpty {
  display: flex;
  margin: auto;
  align-items: center;
  gap: 6rem;
}

#tableEmpty p {
  color: #4E5455;
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  font-size: 4rem;
}